<!--
  Generated template for the LugarPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Creacion de Data</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-list>
        <!-- Scanear codigo -->
        <button ion-button full icon-left (click)="scanCode()" color="secondary"><ion-icon name="qr-scanner"></ion-icon>Scan Code</button>
        <div *ngIf="scannedCode">
          <p>{{lugar.scannedCode}}</p>
        </div>
        

                <!-- tomar foto -->
        <ion-item>
            <button ion-button block (click)="getPicture()">Tomar Foto</button>
            <img [src]="image" *ngIf="image"> 
          </ion-item>
        <!-- fin tomar foto -->
          
        <!-- descripcion -->
        <ion-item>
          <ion-label floating>descripcion</ion-label>
          <ion-textarea [(ngModel)]="lugar.descripcion"></ion-textarea>
        </ion-item>

        <!-- guardar en bd -->
        <button ion-button full (click)="guardarLugar()">Guardar</button>
      
      </ion-list>
</ion-content>
